<!-- <button>
    <a  [routerLink]="['/create']">
  
      <p>items-create</p>
    </a>
  </button>
  <button>
      <a  [routerLink]="['/edit']">
  
        <p>items_view</p>
      </a>
  </button>
  <button>
    <a  [routerLink]="['/s_edit']">
  
      <p>student_view</p>
    </a>
  </button>
  
  
  <div style="margin-left:1200px;">
  
    <input type="button" (click)="onLogout()" value="Logout" />

  </div>
  -->


  
<table style="border:1px solid;text-align:center">
    <thead>
    <tr>
  
    <th>Item Name</th>
    <th>price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of stud;let $index  = index">
    <td><input [(ngModel)]="data.itemname" [disabled]='$index !== expandedIndex'value= {{data.itemname}}></td>
    <td><input [(ngModel)]="data.price" [disabled]='$index !== expandedIndex'value= {{data.price}}></td>
    <td> <button (click)="edit(data,$index)">edit</button></td>
<td><button (click)="delete(data)">Delete</button></td>
<td><button (click)="save(data)">save</button></td>  
    
    </tr>
    
    </tbody>
    </table>
